.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #333a9c, #2f5ce2);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: white;
}

.weather-info {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.left-section, .right-section {
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.left-section {
  border-right: 1px solid #fff;
}

.icon-value {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-value img {
  width: 120px;
  margin-right: 20px;
}

.icon-value p {
  font-size: 36px;
  margin: 0;
}

.icon-status {
  font-size: 22px;
  margin-left: 135px;
  font-weight: 500;
}

.error-message {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.latitude-longitude p {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  color: white;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block; 
  padding: 5px;
}

.latitude-longitude::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 10px;
}

.latitude-longitude.left-corner {
  text-align: left;
}

.right-section p {
  margin: 0;
  line-height: 1.5;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
}

.right-section p strong {
  font-weight: bold;
}

.right-section div {
  width: 100%;
}

.show-more {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.show-more:hover {
  color: #d1d1d1;
}
